body{
    background-color: black;
}
.Register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    margin: auto;
    background-color: black;
}

.Register .FormSide{
    background-color: #333;
    padding: 20px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #fff;
    color: #fff;
    width: 400px;
    height: 390px;
    border-radius:25px;
    align-items: center;
}

.Register .FormSide .FormSideInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Register .FormSide h1{
    text-align: center;
}

.Register .FormSide label{
    font-size: 23px;
    font-weight: 500;
}

.Register .FormSide input{
    width: 255px;
    height: 30px;
}

.Register .FormSide button{
    width: 100px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    background-color: #444;
    color: #fff;
    border: none;
    transition: all 0.5s;
}

.Register .FormSide button:hover{
    width: 150px;
    line-height: 1.5;
    border-radius: 20px;
    border: 1px solid #fff;
    height: 35px;
}